{
  "openapi": "3.0.4",
  "info": {
    "title": "NMKR Studio Api (Mainnet)",
    "description": "Documentation of the NMKR Studio Api Functions. All API Functions must called from https://studio-api.nmkr.io",
    "contact": {
      "name": "Support NMKR Studio",
      "url": "https://nmkr.io"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://studio-api.nmkr.io"
    }
  ],
  "paths": {
    "/v2/AddPayoutWallet/{walletaddress}": {
      "get": {
        "tags": [
          "Customer"
        ],
        "summary": "Adds a payout wallet to your account",
        "description": "With this call you can add a payout wallet in your account. You have to confirm the wallet by clicking the link in the email",
        "parameters": [
          {
            "name": "walletaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Apiresultclass with the information about the address",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Some data are not correct - eg wrong wallet address",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found in our database or not assiged to your account",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/BlockUnblockNft/{nftuid}/{blockNft}": {
      "get": {
        "tags": [
          "NFT"
        ],
        "summary": "Blocks/Unblocks an nft  (nft uid)",
        "description": "You can block an nft, if it is not already sold or reserved and you can unblock blocked nfts",
        "parameters": [
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blockNft",
            "in": "path",
            "required": true,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Nft Class"
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The nft was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CancelAddressReservation/{projectuid}/{paymentaddress}": {
      "get": {
        "tags": [
          "Address reservation (sale)"
        ],
        "summary": "Cancels a address reservation (project uid)",
        "description": "When you call this API, the reservation of all nfts dedicated to this address will released to free state. This function can be called, when a user closes his browser or when he hit on a \"Cancel Reservation\" Button",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation was successful"
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Address not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Address is not in active state - eg. already paid or already released to free",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckAddress/{projectuid}/{address}": {
      "get": {
        "tags": [
          "Address reservation (sale)"
        ],
        "summary": "Checks an address for state changes (project uid)",
        "description": "You can call this api to check if a user has paid to this particular address or if the address has expired. The reserved/sold NFTs will only filled after the amount was fully paid. This is for security reasons. In the reserved state, only the nft ids and tokenamount are submitted \n            \nIMPORTANT:\nThis function uses an internal cache. All results will be cached for 10 seconds. You do not need to call this function more than once in 10 seconds, because the results will be the same.",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Apiresultclass with the information about the address incl. the assigned NFTs",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The address was not found in our database or not assiged to this project",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckAddressWithCustomproperty/{projectuid}/{customproperty}": {
      "get": {
        "tags": [
          "Address reservation (sale)"
        ],
        "summary": "Checks an custom property for state changes (project uid)",
        "description": "You can call this api to check if a user has paid to a particular address with a custom property or if the address has expired. The reserved/sold NFTs will only filled after the amount was fully paid. This is for security reasons. In the reserved state, only the nft ids and tokenamount are submitted \n            \nIMPORTANT:\nThis function uses an internal cache. All results will be cached for 10 seconds. You do not need to call this function more than once in 10 seconds, because the results will be the same.",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customproperty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Apiresultclass with the information about the address incl. the assigned NFTs",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The custom property was not found in our database or not assiged to this project",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckIfEligibleForDiscount/{projectuid}/{address}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Checks if there applies a discount for an address",
        "description": "Checks if there applies a discount for an address",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "couponcode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the CheckDiscountsResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDiscountsResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDiscountsResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDiscountsResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckIfSaleConditionsMet/{projectuid}/{address}/{countnft}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Checks, if an address matches the sale conditions",
        "description": "Checks, if an address matches the sale conditions of a project",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countnft",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "blockchain",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Blockchain"
                }
              ],
              "default": "Cardano"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the CheckConditionsResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckConditionsResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckConditionsResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckConditionsResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckMetadata/{nftuid}": {
      "get": {
        "tags": [
          "NFT"
        ],
        "summary": "Checks if the metadata is valid",
        "parameters": [
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns OK if the metadata are valid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The NFT was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "NFT"
        ],
        "summary": "Checks if the metadata is valid",
        "parameters": [
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UploadMetadataClass"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UploadMetadataClass"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/UploadMetadataClass"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns OK if the metadata are valid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The NFT was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckUtxo/{address}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Returns the utxo of an address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "dataprovider",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Dataproviders"
                }
              ],
              "default": "Default"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the AssetsAssociatedWithAccount Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TxInAddressesClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxInAddressesClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxInAddressesClass"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)"
          }
        }
      }
    },
    "/v2/CheckWalletValidation/{validationuid}": {
      "get": {
        "tags": [
          "Wallet validation"
        ],
        "summary": "Returns the result of a wallet validation",
        "description": "Here you can check the result of a wallet validation. The result are \"notvalidated\", \"validated\",\"expired\"",
        "parameters": [
          {
            "name": "validationuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the CheckWalletValidationResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckWalletValidationResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckWalletValidationResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckWalletValidationResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreateApikeyForSubcustomer/{customerid}": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Creates a subcustomer",
        "parameters": [
          {
            "name": "customerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSubcustomerApikeyClass"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSubcustomerApikeyClass"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSubcustomerApikeyClass"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the result as ZIP File",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubcustomerResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubcustomerResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubcustomerResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found in our database or not assiged to your account",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "201": {
            "description": "Returns the results as CSV File"
          }
        }
      }
    },
    "/v2/CreateAuction/{customerid}": {
      "post": {
        "tags": [
          "Auctions"
        ],
        "summary": "Creates a new legacy auction in the cardano network",
        "parameters": [
          {
            "name": "customerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateAuctionClass"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateAuctionClass"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateAuctionClass"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns an array of the GetAuctionStateResultClass",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuctionStateResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuctionStateResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetAuctionStateResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreateBurningAddress/{projectuid}/{addressactiveinhours}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Creates a burning endpoint for a specific address",
        "description": "When you call this endpoint, a Burning Address is created for this project. All NFTs associated with this project (same policyid) that are sent to this endpoint will be deleted (burned). All other NFTs will be sent back. \nThe policy of the project must still be active.If it is already locked, it can no longer be deleted.",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressactiveinhours",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "blockchain",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Blockchain"
                }
              ],
              "default": "Cardano"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The burning address was created successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBurningEndpointClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBurningEndpointClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBurningEndpointClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectuid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "402": {
            "description": "Payment Required",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Some parameters where not correct or the project already has 10 or more burning addresses",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreateProject": {
      "post": {
        "tags": [
          "Projects"
        ],
        "summary": "Creates a new Project",
        "description": "WIth this Controller you can create a new project",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateProjectClassV2"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateProjectClassV2"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateProjectClassV2"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the UploadNftResult Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewProjectResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewProjectResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewProjectResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "No Image Content was provided. Send a file either as Base64 or as Link or IPFS Hash"
          },
          "409": {
            "description": "There is a conflict with the provided images. Send a file either as Base64 or as Link or IPFS Hash"
          }
        }
      }
    },
    "/v2/CreateSplitAddress/{customerid}": {
      "post": {
        "tags": [
          "Split Addresses"
        ],
        "summary": "Creates a split address",
        "parameters": [
          {
            "name": "customerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSplitAddressClass"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSplitAddressClass"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSplitAddressClass"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetSplitAddressClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSplitAddressClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetSplitAddressClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreateSubcustomer/{customerid}": {
      "post": {
        "tags": [
          "Customer"
        ],
        "summary": "Creates a subcustomer",
        "parameters": [
          {
            "name": "customerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSubcustomerClass"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSubcustomerClass"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateSubcustomerClass"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the result as ZIP File",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubcustomerResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubcustomerResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateSubcustomerResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found in our database or not assiged to your account",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "201": {
            "description": "Returns the results as CSV File"
          }
        }
      }
    },
    "/v2/CreateVestingAddress/{customerid}": {
      "post": {
        "tags": [
          "Vesting Addresses"
        ],
        "summary": "Creates a vesting/staking address. Assets can be locked on a vesting address for a certain period of time.",
        "parameters": [
          {
            "name": "customerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateVestingAddressClass"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateVestingAddressClass"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateVestingAddressClass"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVestingAddressResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVestingAddressResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateVestingAddressResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreateWallet/{customerid}": {
      "post": {
        "tags": [
          "Managed Wallets"
        ],
        "summary": "Creates an Managed Wallet",
        "parameters": [
          {
            "name": "customerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateManagedWalletClass"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateManagedWalletClass"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/CreateManagedWalletClass"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the CreateWalletResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWalletResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWalletResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateWalletResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/DeleteAllNftsFromProject/{projectuid}": {
      "get": {
        "tags": [
          "NFT"
        ],
        "summary": "Deletes all nfts from the database",
        "description": "This function deletes all NFTs from a project. You can delete a nft, if it is not in sold or reserved state. All other nfts will be deleted.",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Nft Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAllNftsResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAllNftsResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAllNftsResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The nft was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/DeleteAuction/{auctionuid}": {
      "get": {
        "tags": [
          "Auctions"
        ],
        "summary": "Deletes an auction - if the auction is not already started",
        "parameters": [
          {
            "name": "auctionuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of the GetAuctionStateResultClass"
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/DeleteNft/{nftuid}": {
      "get": {
        "tags": [
          "NFT"
        ],
        "summary": "Deletes a nft from the database (nft uid)",
        "description": "You can delete a nft, if it is not in sold or reserved state",
        "parameters": [
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Nft Class"
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The nft was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/DeleteProject/{projectuid}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Deletes a project",
        "description": "With this call you can delete a project",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Apiresultclass with the information about the address incl. the assigned NFTs",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found in our database or not assiged to your account",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/DuplicateNft/{nftuid}": {
      "post": {
        "tags": [
          "NFT"
        ],
        "summary": "Duplicates a nft/token inside a project. If a token already exists, it will be skipped",
        "parameters": [
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DuplicateNftClass"
                  }
                ]
              }
            },
            "text/json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DuplicateNftClass"
                  }
                ]
              }
            },
            "application/*+json": {
              "schema": {
                "allOf": [
                  {
                    "$ref": "#/components/schemas/DuplicateNftClass"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Duplicate was successful. Returns the NtProjectDetails Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NftProjectsDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftProjectsDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftProjectsDetails"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The nft was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "The nft is not valid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetActiveDirectsaleListings/{stakeaddress}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "parameters": [
          {
            "name": "stakeaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        }
      }
    },
    "/v2/GetAdditionalPayoutWallets/{projectuid}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "summary": "Returns the additional payout wallets for a project (project uid)",
        "parameters": [
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of the PayoutWalletsClass",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdditionalPayoutWalletsClass"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdditionalPayoutWalletsClass"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdditionalPayoutWalletsClass"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetAllAssetsInWallet/{address}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Returns all assets that are in a wallet",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "blockchain",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/Blockchain"
                }
              ],
              "default": "Cardano"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the AssetsAssociatedWithAccount Class",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetAllAuctions/{customerid}": {
      "get": {
        "tags": [
          "Auctions"
        ],
        "summary": "Returns all auctions of the customer",
        "parameters": [
          {
            "name": "customerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of the GetAuctionStateResultClass",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAuctionsClass"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAuctionsClass"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAuctionsClass"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetAllUploadedFiles/{customerid}": {
      "get": {
        "tags": [
          "IPFS"
        ],
        "summary": "Returns a list with all uploaded files to IPFS. The files/NFTs that are in a project are not returned",
        "parameters": [
          {
            "name": "customerid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "maxCount",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 100
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the GetAllUploadedFilesResult Class",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAllUploadedFilesResultClass"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAllUploadedFilesResultClass"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAllUploadedFilesResultClass"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "No Image Content was provided. Send a file either as Base64 or as Link or IPFS Hash"
          },
          "409": {
            "description": "There is a conflict with the provided images. Send a file either as Base64 or as Link or IPFS Hash"
          }
        }
      }
    },
    "/v2/GetAmountOfSpecificTokenInWallet/{address}/{policyid}/{tokenname}": {
      "get": {
        "tags": [
          "Tools"
        ],
        "summary": "Returns the quantity of a specific token in a wallet",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the AssetsAssociatedWithAccount Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
[...]
