{
  "openapi": "3.0.1",
  "info": {
    "title": "NMKR Studio Api (Mainnet)",
    "description": "Documentation of the NMKR Studio Api Functions. All API Functions must called from https://studio-api.nmkr.io",
    "contact": {
      "name": "Support NMKR Studio",
      "url": "https://nmkr.io"
    },
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://studio-api.nmkr.io"
    }
  ],
  "paths": {
    "/v2/AddPayoutWallet/{walletaddress}": {
      "get": {
        "tags": ["Customer"],
        "summary": "Adds a payout wallet to your account",
        "description": "With this call you can add a payout wallet in your account. You have to confirm the wallet by clicking the link in the email",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "walletaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Apiresultclass with the information about the address",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Some data are not correct - eg wrong wallet address",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found in our database or not assiged to your account",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CancelAddressReservation/{projectuid}/{paymentaddress}": {
      "get": {
        "tags": ["Address reservation (sale)"],
        "summary": "Cancels a address reservation (project uid)",
        "description": "When you call this API, the reservation of all nfts dedicated to this address will released to free state. This function can be called, when a user closes his browser or when he hit on a \"Cancel Reservation\" Button",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "paymentaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cancellation was successful"
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Address not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Address is not in active state - eg. already paid or already released to free",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckAddress/{projectuid}/{address}": {
      "get": {
        "tags": ["Address reservation (sale)"],
        "summary": "Checks an address for state changes (project uid)",
        "description": "You can call this api to check if a user has paid to this particular address or if the address has expired. The reserved/sold NFTs will only filled after the amount was fully paid. This is for security reasons. In the reserved state, only the nft ids and tokenamount are submitted \r\n            \r\nIMPORTANT:\r\nThis function uses an internal cache. All results will be cached for 10 seconds. You do not need to call this function more than once in 10 seconds, because the results will be the same.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Apiresultclass with the information about the address incl. the assigned NFTs",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The address was not found in our database or not assiged to this project",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckAddressWithCustomproperty/{projectuid}/{customproperty}": {
      "get": {
        "tags": ["Address reservation (sale)"],
        "summary": "Checks an custom property for state changes (project uid)",
        "description": "You can call this api to check if a user has paid to a particular address with a custom property or if the address has expired. The reserved/sold NFTs will only filled after the amount was fully paid. This is for security reasons. In the reserved state, only the nft ids and tokenamount are submitted \r\n            \r\nIMPORTANT:\r\nThis function uses an internal cache. All results will be cached for 10 seconds. You do not need to call this function more than once in 10 seconds, because the results will be the same.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customproperty",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Apiresultclass with the information about the address incl. the assigned NFTs",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckAddressResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The custom property was not found in our database or not assiged to this project",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckIfEglibleForDiscount/{projectuid}/{address}": {
      "get": {
        "tags": ["Tools"],
        "summary": "Checks if there applies a discount for an address",
        "description": "Checks if there applies a discount for an address",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the CheckDiscountsResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDiscountsResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDiscountsResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckDiscountsResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckIfSaleCondtionsMet/{projectuid}/{address}/{countnft}": {
      "get": {
        "tags": ["Tools"],
        "summary": "Checks, if an address matches the sale condtions",
        "description": "Checks, if an address matches the sale condtions of a project",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countnft",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the CheckConditionsResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckConditionsResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckConditionsResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckConditionsResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckMetadata/{nftuid}": {
      "post": {
        "tags": ["NFT"],
        "summary": "Checks if the metadata are valid",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadMetadataClass"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/UploadMetadataClass"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/UploadMetadataClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns OK if the metadata are valid",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The NFT was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CheckUtxo/{address}": {
      "get": {
        "tags": ["Tools"],
        "summary": "Returns the utxo of an address",
        "parameters": [
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the AssetsAssociatedWithAccount Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TxInAddressesClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxInAddressesClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TxInAddressesClass"
                }
              }
            }
          },
          "429": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)"
          }
        }
      }
    },
    "/v2/CheckWalletValidation/{validationuid}": {
      "get": {
        "tags": ["Wallet validation"],
        "summary": "Returns the result of a wallet validation",
        "description": "Here you can check the result of a wallet validation. The result are \"notvalidated\", \"validated\",\"expired\"",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "validationuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the CheckWalletValidationResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CheckWalletValidationResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckWalletValidationResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckWalletValidationResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreateBurningAddress/{projectuid}/{addressactiveinhours}": {
      "get": {
        "tags": ["Projects"],
        "summary": "Creates a burning endpoint for a specific address",
        "description": "When you call this endpoint, a Burning Address is created for this project. All NFTs associated with this project (same policyid) that are sent to this endpoint will be deleted (burned). All other NFTs will be sent back. \r\nThe policy of the project must still be active.If it is already locked, it can no longer be deleted.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "addressactiveinhours",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The burning address was created successfully",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBurningEndpointClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBurningEndpointClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBurningEndpointClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectuid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "409": {
            "description": "Conflict",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "402": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Some parameters where not correct or the project already has 10 or more burning addresses",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreatePaymentTransaction": {
      "post": {
        "tags": ["Paymenttransactions"],
        "summary": "Creates a payment transaction",
        "description": "",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentTransactionClass"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentTransactionClass"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreatePaymentTransactionClass"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the PaymentTransactionResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentTransactionResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/CreateProject": {
      "post": {
        "tags": ["Projects"],
        "summary": "Creates a new Project",
        "description": "WIth this Controller you can create a new project",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectClassV2"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectClassV2"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectClassV2"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Returns the UploadNftResult Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewProjectResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewProjectResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateNewProjectResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "See the errormessage in the resultset for further information",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "No Image Content was provided. Send a file either as Base64 or as Link or IPFS Hash"
          },
          "409": {
            "description": "There is a conflict with the provided images. Send a file either as Base64 or as Link or IPFS Hash"
          }
        }
      }
    },
    "/v2/DeleteNft/{nftuid}": {
      "get": {
        "tags": ["NFT"],
        "summary": "Deletes a nft from the database (nft uid)",
        "description": "You can delete a nft, if it is not in sold or reserved state",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Nft Class"
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The nft was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "Not Acceptable",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/DeleteProject/{projectuid}": {
      "get": {
        "tags": ["Projects"],
        "summary": "Deletes a project",
        "description": "With this call you can delete a project",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Apiresultclass with the information about the address incl. the assigned NFTs",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The project was not found in our database or not assiged to your account",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetAdaRates": {
      "get": {
        "tags": ["Tools"],
        "summary": "Returns the actual price in EUR and USD for ADA",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the AdaRatesClass",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AdaRatesClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaRatesClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdaRatesClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetAllAssetsInWallet/{address}": {
      "get": {
        "tags": ["Tools"],
        "summary": "Returns all assets that are in a wallet",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "address",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the AssetsAssociatedWithAccount Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetsAssociatedWithAccount"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetAuctionState/{auctionuid}": {
      "get": {
        "tags": ["Auctions"],
        "summary": "Returns the state - and the last bids of a auction project",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "auctionuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of the GetAuctionStateResultClass",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAuctionStateResultClass"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAuctionStateResultClass"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAuctionStateResultClass"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetCardanoTokenRegistryInformation/{policyid}/{tokenname}": {
      "get": {
        "tags": ["Tools"],
        "summary": "Returns the Token Registry Information for a specific token (if available)",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokenname",
            "in": "path",
            "description": "The Name of the Token (not HEX)",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns TokenRegistryMetadata",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRegistryMetadata"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRegistryMetadata"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/TokenRegistryMetadata"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "No Registry Information was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetCounts/{projectuid}": {
      "get": {
        "tags": ["Projects"],
        "summary": "Returns the count of the sold, reserved and free nfts (project uid)",
        "description": "You will get the count of all sold, reserved and free nfts of a particular project",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the NftCountsClass",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NftCountsClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftCountsClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftCountsClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetDiscounts/{projectuid}": {
      "get": {
        "tags": ["Projects"],
        "summary": "Returns the discounts for this project (project uid)",
        "description": "If you call this function, you will get all active discounts for this project",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns an array of the GetDiscountsClass",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDiscountsClass"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDiscountsClass"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetDiscountsClass"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetIdentityAccounts/{policyid}": {
      "get": {
        "tags": ["Projects"],
        "summary": "Returns information about the identities (if the identity token was created) of a project",
        "description": "You will receive all identities which are connected to this project",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "policyid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Identities (if available)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityInformationClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityInformationClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdentityInformationClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The nft was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetNftDetailsById/{nftuid}": {
      "get": {
        "tags": ["NFT"],
        "summary": "Returns detail information about one nft specified by Id (nft uid)",
        "description": "You will receive all information (fingerprint, ipfshash, etc.) about one nfts with the submitted id",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Nft Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NftDetailsClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftDetailsClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftDetailsClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The nft was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetNftDetailsByTokenname/{projectuid}/{nftname}": {
      "get": {
        "tags": ["NFT"],
        "summary": "Returns detail information about one nft specified by its name",
        "description": "You will receive all information (fingerprint, ipfshash, etc.) about one nft with the submitted name",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nftname",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the Nft Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/NftDetailsClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftDetailsClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/NftDetailsClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The nft was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetNfts/{projectuid}/{state}/{count}/{page}": {
      "get": {
        "tags": ["NFT"],
        "summary": "Returns detail information about nfts with a specific state with Pagination support. (project uid)",
        "description": "You will receive all information (fingerprint, ipfshash, etc.) about the nfts within a specific state.\r\nState \"all\" lists all available nft in this project. The other states are: \"free\", \"reserved\", \"sold\" and \"error\"",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "state",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "count",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "page",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "orderby",
            "in": "query",
            "description": "(Optional) The sort order of the result. Possible values are: id (default),id_desc (descending order), selldate (on sold nfts) and selldate_desc (descending order)",
            "schema": {
              "type": "string",
              "default": "id"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns a List of the NFT Class",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NFT"
                  }
                }
              },
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NFT"
                  }
                }
              },
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/NFT"
                  }
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "The projectuid was not found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetPaymentAddressForRandomNftSale/{projectuid}/{countnft}/{lovelace}/{customeripaddress}": {
      "get": {
        "tags": ["Address reservation (sale)"],
        "summary": "Returns an address for a random nft sale (project id)",
        "description": "When you call this API, you will receive an address where the buyer has to pay the amount of ada you define. The address will be monitored until it exipred. The count of nft will be reserved until it expires or the buyer has send the ada to this address.\r\nIf the buyer has send the amount of ada, the nfts will be minted and send to his senderaddress and the nfts state changes to sold.\r\n\r\nIMPORTANT:\r\nPlease notice, that the call is limited to 300 addressreservations per minute. You will get the error 429 if you call this routine more than 300 times a minute.\r\nPlease do not implement this function on your start page. And please prevent the call of this function from bots with a captcha.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countnft",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "lovelace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customeripaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "description": "(Optional) A referer code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customproperty",
            "in": "query",
            "description": "(Optional) A custom property which can be set. Will be returned at webhooks or checkaddress",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the GetPaymentAddressResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "No more nft available",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "The demanded ada amount is too less. The minimium is 5 ADA - eg 5000000 lovelace",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetPaymentAddressForRandomNftSale/{projectuid}/{countnft}/{customeripaddress}": {
      "get": {
        "tags": ["Address reservation (sale)"],
        "summary": "Returns an address for a random nft sale (price from pricelist) (project id)",
        "description": "When you call this API, you will receive an address where the buyer has to pay the amount of ada you define. The address will be monitored until it exipred. The count of nft will be reserved until it expires or the buyer has send the ada to this address.\r\nIf the buyer has send the amount of ada, the nfts will be minted and send to his senderaddress and the nfts state changes to sold.\r\n\r\nIMPORTANT:\r\nPlease notice, that the call is limited to 300 addressreservations per minute. You will get the error 429 if you call this routine more than 300 times a minute.\r\nPlease do not implement this function on your start page. And please prevent the call of this function from bots with a captcha.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "projectuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "countnft",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "customeripaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "description": "(Optional) A referer code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customproperty",
            "in": "query",
            "description": "(Optional) A custom property which can be set. Will be returned at webhooks or checkaddress",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the GetPaymentAddressResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "No more nft available",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "The demanded ada amount is too less. The minimium is 5 ADA - eg 5000000 lovelace",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the result",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetPaymentAddressForSpecificNftSale/{nftuid}/{tokencount}/{lovelace}/{customeripaddress}": {
      "get": {
        "tags": ["Address reservation (sale)"],
        "summary": "Returns an address for a specific nft sale (no random distribution) (project and nft id)",
        "description": "When you call this API, you will receive an address where the buyer has to pay the amount of ada you define. The address will be monitored until it exipred. The count of nft will be reserved until it expires or the buyer has send the ada to this address.\r\nIf the buyer has send the amount of ada, the nfts will be minted and send to his senderaddress and the nfts state changes to sold.\r\n            \r\nIMPORTANT:\r\nPlease notice, that the call is limited to 300 addressreservations per minute. You will get the error 429 if you call this routine more than 300 times a minute.\r\nPlease do not implement this function on your start page. And please prevent the call of this function from bots with a captcha.",
        "parameters": [
          {
            "name": "authorization",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "nftuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tokencount",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "lovelace",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          },
          {
            "name": "customeripaddress",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "referer",
            "in": "query",
            "description": "(Optional) A referer code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "customproperty",
            "in": "query",
            "description": "(Optional) A custom property which can be set. Will be returned at webhooks or checkaddress",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Returns the GetPaymentAddressResultClass Class",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetPaymentAddressResultClass"
                }
              }
            }
          },
          "401": {
            "description": "The access was denied. (Wrong or expired APIKEY, wrong projectid etc.)",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "404": {
            "description": "The id of the nft is not found or not assigned to this project",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "409": {
            "description": "There is a conflict with the selected nft. See errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "406": {
            "description": "The demanded ada amount is too less. The minimium is 5 ADA - eg 5000000 lovelace",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          },
          "429": {
            "description": "Client Error",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProblemDetails"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error - see the errormessage in the resultset",
            "content": {
              "text/plain": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiErrorResultClass"
                }
              }
            }
          }
        }
      }
    },
    "/v2/GetPaymentAddressForSpecificNftSale/{nftuid}/{tokencount}/{customeripaddress}": {
      "get": {
        "tags": ["Address reservation (sale)"],
        "summary": "Returns an address for a specific nft sale (no random distribution) - price from pricelist or specific nft price (project and nft id)",
[...]
